@page "/"

@inject TescatContext Context




<PageTitle>Usuarios</PageTitle>


@*<Lifecycle />*@

@if (Users == null)
{

    <p>Loading users...</p>

}
else
{
    <UserDetails User="_selectedUser" />

    <UserSearch />

    <div class="grid">
        @*Aqui creamos cada tarjeta y las agrupamos con la clase .grid y le pasamos los datos del usuario desde User.cs*@
        @foreach (var user in Users)
        {
            <UserCard User="user" OnSelected="HandleUserSelected" />
        }
    </div>

}





@code {

    private User[]? Users { get; set; }
    private User? _selectedUser;

    protected override async
    Task OnInitializedAsync()
    {
        try
        {
            Users = await Context.Users.ToArrayAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Hubo un problema al cargar la informacion de los usuarios{ex.Message}");
        }
    }
    private void HandleUserSelected(User user)
       =>
       _selectedUser = user;

}


