/* _content/Beta_Tescat_0.1/Pages/Features/Home/SearchFilter.razor.rz.scp.css */
.filters[b-mzfwodcndy] {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
    justify-content: flex-end;
}

label[b-mzfwodcndy] {
    /* text-transform: uppercase;*/
    margin-right: 10px;
}


button:first-of-type[b-mzfwodcndy] {
    margin-right: 10px
}

span[b-mzfwodcndy] {
    cursor: pointer
}

button:first-of-type[b-mzfwodcndy] {
    width: 98px;
}

button.user-length-filter[b-mzfwodcndy] {
    width: 168.2px
}

    button.user-length-filter.applied[b-mzfwodcndy] {
        width: 210px
    }

.dropdown-menu.show.close[b-mzfwodcndy] {
    display: none;
}



.form-control[b-mzfwodcndy] {
    display: inline-block
}

.dropdown-menu.user-length-filter[b-mzfwodcndy] {
    white-space: nowrap;
}

input[b-mzfwodcndy] {
    width: 45px;
    margin-right: 10px
}

.btn-secondary.user-length-filter[b-mzfwodcndy] {
    margin-right: 0px;
    width: 66px
}

.btn-outline-secondary.user-length-filter[b-mzfwodcndy] {
    width: 84px;
    text-align: left;
    position: relative;
}

.btn-outline-secondary.user-length-filter[b-mzfwodcndy] {
    background-color: white;
    color: #212529
}

    .btn-outline-secondary.user-length-filter[b-mzfwodcndy]::after {
        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
    }

form button[b-mzfwodcndy] {
    margin-bottom: 2.5px
}
/* _content/Beta_Tescat_0.1/Pages/Features/Home/UserDetails.razor.rz.scp.css */


.drawer-mask[b-o8fm2lofyt] {
    visibility: hidden;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background-color: #000000;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.drawer-wrapper.slide > .drawer-mask[b-o8fm2lofyt] {
    opacity: .5;
    visibility: visible;
}


.drawer[b-o8fm2lofyt] {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    border-left: 0.063em solid gray;
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.3s ease, width 0.3s ease;
}

.drawer-wrapper.slide > .drawer[b-o8fm2lofyt] {
    transform: translateX(0);
}


.drawer-content[b-o8fm2lofyt] {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.drawer-content img[b-o8fm2lofyt]{
    width: 100%;
    height: 50%;
    object-fit:cover;
    border-radius: 0 0 10px 10px;
}

.user-details[b-o8fm2lofyt] {
    padding: 20px;
}

.drawer-controls[b-o8fm2lofyt] {
    padding: 20px;
    background-color: #ffffff;
}


/* _content/Beta_Tescat_0.1/Pages/Features/Home/UserSearch.razor.rz.scp.css */
.searchbar[b-2absosbzfd] {
    background: none;
    margin-bottom: 2rem;
}

input[b-2absosbzfd] {
    border: 2px solid var(--brand)
}

    input[b-2absosbzfd]::placeholder {
        font-size: 1.2rem;
        font-style: italic
    }
